name: PHP

on:
  push:
    branches: [ master ]
    paths-ignore:
    - '**.md'
    - '**.dia'
    - '**.svg'
  pull_request:
    branches: [ master ]
    paths-ignore:
    - '**.md'
    - '**.dia'
    - '**.svg'

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.5'
        ini-values: zend.assertions=1, assert.exception=1
        coverage: xdebug
      env:
        update: true

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Tests
      run: composer run-script phpunit

    - name: Codecov
      uses: codecov/codecov-action@v1.0.14
      with:
        file: './build/phpunit.clover.xml'
        
  tests-matrix:
    runs-on: ubuntu-latest
    needs: [tests]
    
    strategy:
      matrix:
        php-versions: ['8.3', '8.4', '8.5']
        jit-enabled: [0, 1]

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        ini-values: zend.assertions=1, assert.exception=1, opcache.enable_cli=${{ matrix.jit-enabled }}
        coverage: none
      env:
        update: true

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer update --prefer-dist --no-progress --no-suggest

    - name: Tests
      run: composer run-script phpunit-no-coverage

  mutation:
    runs-on: ubuntu-latest
    needs: [tests]

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.5'
        ini-values: zend.assertions=1, assert.exception=1
        coverage: xdebug
      env:
        update: true

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Mutation tests
      run: composer run-script infection

  phpstan:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.5'
        ini-values: zend.assertions=1, assert.exception=1
      env:
        update: true

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Phpstan
      run: composer run-script phpstan
      
    - name: Phpstan-next
      run: composer run-script phpstan-next
      continue-on-error: true

  codestyle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
        env:
          update: true

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Codestyle
        run: composer run-script codestyle

  dependencies:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
        env:
          update: true

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Dependencies
        run: composer run-script dependencies
